<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
        Contact Ruby on Rails Tutorial about the sample app concetps at the
        <a href="http://railstutorial.org/contact">contact page</a>.
    </p>

    <p>
        Anything specific not in the tutorial, contact 
        <a href="http://ca.linkedin.com/in/blancalmancilla/">me,</a> the follower 
        of the tutorial.
    </p>
